h1.r{

color: black;
    font-family: 'Poppins';
    font-style: bold;
    font-size: 2em;
    text-align: center;
    margin-top: 1em;


}

h2.sec{

text-align: center;
    margin-top: 5rem;


}

p.a{


    text-align: center;
    margin-top: 5rem;


}